<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>AI Prognosis Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendors/mdi/css/materialdesignicons.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendors/css/vendor.bundle.base.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendors/jvectormap/jquery-jvectormap.css')}}">
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendors/owl-carousel-2/owl.carousel.min.css')}}">
  <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="assets/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.theme.default.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/style.css')}}">
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- End layout styles -->
  <link rel="stylesheet" href="{{ url_for('static',filename='assets/images/favicon.png')}}">
  <link rel="shortcut icon" href="assets/images/favicon.png" />
  <style>
    .widget-26 .widget-26-job-category {
      padding: .5rem;
      display: inline-flex;
      white-space: nowrap;
      border-radius: 15px;
      padding-left: 0px;
      padding-right: 18px;
    }

    .widget-26 .widget-26-job-category .indicator {
      width: 13px;
      height: 13px;
      margin-right: .5rem;
      float: left;
      border-radius: 50%;
    }

    .widget-26 .widget-26-job-category span {
      font-size: 0.8125rem;
      color: #3c4142;
      font-weight: 600;
    }

    .bg-soft-base {
      background-color: #e1f5f7;
    }
  </style>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="index.html" style="color:white">AI Prognosis</></a>

      </div>
      <ul class="nav">
        <li class="nav-item profile">
          <div class="profile-desc">
            <div class="profile-pic">


            </div>

            <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list"
              aria-labelledby="profile-dropdown">
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-settings text-primary"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-onepassword  text-info"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-calendar-today text-success"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item nav-category">
          <span class="nav-link">Navigation</span>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="{{ url_for('search')}}">
            <span class="menu-icon">
              <i class="mdi mdi-speedometer"></i>
            </span>
            <span class="menu-title">Search PDF</span>
          </a>
        </li>

        <li class="nav-item menu-items">


        </li>


        <li class="nav-item menu-items">
          <a class="nav-link" href="{{ url_for('search_index')}}">
            <span class="menu-icon">
              <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">Go Back</span>
          </a>
        </li>
        <li class="nav-item menu-items">
          <a class="nav-link" href="{{ url_for('search_index')}}">
            <span class="menu-icon">
              <i class="mdi mdi-contacts"></i>
            </span>
            <span class="menu-title">Go to Home</span>
          </a>
        </li>

        <li class="nav-item menu-items">
          <a class="nav-link"
            href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">
            <span class="menu-icon">
              <i class="mdi mdi-file-document-box"></i>
            </span>
            <span class="menu-title">Documentation</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar p-0 fixed-top d-flex flex-row">

        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav w-100">
            <li class="nav-item w-100">
              <form method="post" action="/search_pdf" class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                <input type="text" name="search" class="form-control" placeholder={{ query }}>
              </form>
            </li>
          </ul>

          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">

          </div>
          <div class="row">
            <div class="col-12">
              <div class="card card-margin">
                <div class="card-body">
                  <div class="row search-body">
                    <div class="col-lg-12">
                      <div class="search-result">
                        <div class="result-header">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="records">Showing Top 10 results</div>
                            </div>
                            <div class="col-lg-6">
                              <div class="result-actions">

                                <div class="result-views">


                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="result-body">
                          <div class="table-responsive">
                            <table class="table widget-26">
                              <tbody>
                                {% for res in range(results | length) %}
                                <tr>
                                  <td>
                                    <div class="widget-26-job-title">
                                      <a style="white-space: pre-wrap;" href="/pdf_details/{{ids[res]}}">{{ results[res]
                                        }}</a>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="widget-26-job-category bg-soft-base">
                                      <i class="indicator bg-base"></i>
                                      <span>{{ cats[res] }}</span>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="widget-26-job-starred">
                                      <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                          <polygon
                                            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                          </polygon>
                                        </svg>
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>





      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->

      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->

  <script src="{{ url_for('static',filename='assets/vendors/js/vendor.bundle.base.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/vendors/chart.js/Chart.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/vendors/jvectormap/jquery-jvectormap.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/vendors/owl-carousel-2/owl.carousel.min.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/js/off-canvas.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/js/hoverable-collapse.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/js/misc.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/js/todolist.js')}}"></script>

  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="assets/vendors/chart.js/Chart.min.js"></script>
  <script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="assets/js/off-canvas.js"></script>
  <script src="assets/js/hoverable-collapse.js"></script>
  <script src="assets/js/misc.js"></script>
  <script src="assets/js/settings.js"></script>
  <script src="assets/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="assets/js/dashboard.js"></script>
  <!-- End custom js for this page -->
</body>

</html>